SPRING_PROFILES_ACTIVE=dev

# --- CORE SERVICE ENV ---
DB_URL=jdbc:mysql://localhost:3306/mydb
DB_USER=root
DB_PASSWORD=123456
APP_ADMIN_USER=admin
APP_ADMIN_PASS=MatKhauBaoMatCuaBan123
PUBLIC_GOOGLE_CLIENT_ID=ClientWebIdGoogle
JWT_SECRET=DayLaMotCaiSecretKeyRatDaiVaBaoMatDeTestHeThongCuaToi123456789
CORE_SERVICE_PORT=8081

# --- AI SERVICE ENV ---
GEMINI_API_KEY=****************
AI_SERVICE_PORT=8082


# --- GATEWAY SERVICE ENV ---
GATEWAY_PORT=8080
AI_SERVICE_URL=http://127.0.0.1:8082
CORE_SERVICE_URL=http://127.0.0.1:8081