# Database Configuration
DB_URL=jdbc:mysql://localhost:3306/familier
DB_USER=root
DB_PASSWORD=root

# core_service Configuration
CORE_SERVICE_PORT=8081
APP_ADMIN_USER=admin
APP_ADMIN_PASS=123456
CLOUDINARY_CLOUD_NAME=dgj*********
CLOUDINARY_API_KEY=277172****
CLOUDINARY_API_SECRET=ccc*****

# ai_service Configuration
AI_SERVICE_PORT=8082
GEMINI_API_KEY=your_gemini_api_key
MONGODB_URI=mongodb://localhost:27017/familier_ai
SCHEDULER_SUMMARIZATION_FIXED_DELAY=90000 # unit: milisecond

# --- gateway Configuration ---
AI_SERVICE_URL=http://127.0.0.1:8082
CORE_SERVICE_URL=http://127.0.0.1:8081
CORE_SERVICE_WS_URL=ws://127.0.0.1:8081

# Security Configuration
JWT_SECRET=your_jwt_secret_key
INTERNAL_SHARED_SECRET=default_internal_secret
PUBLIC_GOOGLE_CLIENT_ID=your_google_client_id

# gRPC Configuration
GRPC_SERVER_PORT=9090
GRPC_USER_CONTEXT_ADDRESS=static://localhost:9090

# Redis & Production Configuration
SPRING_DATA_REDIS_HOST=localhost
SPRING_DATA_REDIS_PORT=6379
SPRING_DATA_REDIS_PASSWORD=
REDIS_SSL_ENABLED=true
