############################
# Maven / Build
############################
target/
**/target/

build/
**/build/

.mvn/wrapper/maven-wrapper.jar

############################
# Logs
############################
*.log

############################
# Environment files
############################
.env
.env.*
*.local

############################
# IDE - IntelliJ
############################
.idea/
*.iws
*.iml
*.ipr

############################
# IDE - STS / Eclipse
############################
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

############################
# IDE - NetBeans
############################
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

############################
# IDE - VS Code
############################
.vscode/

############################
# OS files
############################
.DS_Store
Thumbs.db

############################
# Misc
############################
HELP.md
**/guide.txt